# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv
.pytest_cache
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Application specific
*.log
*token.json
config.json
.env
*.token
*.secret
*login.json
*_login.json
credentials.json
*_credentials.json
*history*.json
*prompt.txt
